<!DOCTYPE html>
<html>
<title>Restaurant Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/feedback.js"></script>


<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1,h2,h3,h4,h5,h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }

    #map {
        height: 550px;
        width: 100%;
    }

    body {font-family: Arial, Helvetica, sans-serif;}

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

</style>
<body>

<!-- Navbar (sit on top) -->
<div id="myDiv" class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card myDiv2" style="letter-spacing:4px;">
        <a id="homePage"  href="/index" class="w3-bar-item w3-button">Home</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="#about" class="w3-bar-item w3-button">About</a>
            <!--<a href="#menu" class="w3-bar-item w3-button">Menu</a>-->
            <a href="#contact" class="w3-bar-item w3-button">Contact</a>
            <a href="#map" class="w3-bar-item w3-button">Map</a>
            <a href="#feedback" class="w3-bar-item w3-button">Feedback</a>
        </div>
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">

</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <img class="w3-round w3-image w3-opacity-min" src=<%=restResult.image%> width="400px" height="300px">
        <!--<div class="w3-col m6 w3-padding-large">-->
            <!--<p class="w3-large">Cusine Type:<%=restResult.rest_name%></p>-->
            <!--<p class="w3-large">Cusine Type:<%=restResult.cusine_type%></p>-->
            <!--<p class="w3-large w3-text-grey w3-hide-medium"> Ranking:<%=restResult.ranking%></p>-->

        <!--</div>-->
        <div class="w3-col m6 w3-padding-large">
        <p class="w3-text-blue-grey w3-large"><b>Restaurant name:<%=restResult.rest_name%></b></p>
        <p class="w3-text-blue-grey w3-large"><b>Cuisine Type:<%=restResult.cusine_type%></b></p>
        <p class="w3-text-blue-grey w3-large"><b>User Ratings:<%=restResult.feedback%> points</b></p>
        </div>
    </div>

    <hr>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-64" id="contact">
        <h1>Contact</h1><br>
        <p class="w3-text-blue-grey w3-large"><b>Postcode:<%=restResult.postcode%></b></p>
        <p class="w3-text-blue-grey w3-large"><b>Telephone:<%=restResult.telephone%></b></p>
        <p class="w3-text-blue-grey w3-large"><b>Address:<%=restResult.address%></b></p>
    </div>

    <hr>

    <!--Map Section-->
    <h1>Gourmet au Catering</h1>
    <div class="w3-container w3-padding-64" id="map">
        <div class="w3-col l6 w3-padding-large">
            <script>
                function initMap() {
                    var uluru = {lat: 53.3811, lng: -1.4701};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 16,
                        center: uluru
                    });
                    userPos = {
                        lat: <%=restResult.lat%>,
                        lng: <%=restResult.lng%>
                    };
                    var marker = new google.maps.Marker({
                        position: userPos,
                        map: map
                    });
                    map.setCenter(userPos);
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcm6sCcEcvIHv7ILLDVSDbbkN2SOBgGmw&libraries=places&callback=initMap" async defer></script>
        </div>
    </div>

    <hr>

    <!--Feedback Section-->
    <div class="w3-container w3-padding-64" class="container" id="feedback">
        <h1>Give Feedback</h1>
        <div>Points The Restaurant have: <%=restResult.feedback%></div>
        <form action="/sendFeedback" method="post" onsubmit="onSubmitFeedback('/sendFeedback')">
            <label for="points">Points</label>
            <input type="text" id="p" name="p" placeholder="Insert number of points..">

            <label for='Restaurant'>Restaurant Name</label>
            <input type="text" name="na" id="na" readonly value=<%=restResult.rest_name%>>

            <label for='RestaurantID' style="display: none">Restaurant Id</label>
            <input type="text" name="rId" id="rId" style="display: none" readonly value=<%=restResult._id %>>

            <input type="submit" value="Submit">
        </form>
    </div>


    <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p></p>
</footer>

</body>
</html>
